[Desktop Entry]
Name=Visual Studio Code
GenericName=Visual Studio Code
GenericName[de]=Visual Studio Code
Comment=Visual Studio Code Editor
Exec=/usr/bin/code
Icon=/usr/share/code/xamvs.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Editor;
NoDisplay=false
